<%- include('header') -%>

<!-- about page -->
<div class="main-div">
<div class="container">
	<div class="text-center">
		<h3><i>About Us</i></h3>
	</div>
	<div class="text-center">
		<img id="about-img" src="/images/thanos.gif">
	</div>
	<div class="text-center display-6 about-info">
		<p>Reach is a virtually free to use and ideal application for Video Calling.
		There are no fees to sign up, and no data plan allowances to worry about.
		Reach will help you to be in touch with your friends and family.
		It helps save time, reduces travel expenses, and overall promotes collaboration.
		Overall it has simple UI which makes it easy to use by all the age groups</p>
	</div>
</div>
</div>
	<!-- !about page -->
<%- include('footer') -%>
