<!-- Footer -->
<footer class="page-footer font-small bg-dark text-light">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright
    <a class="text-light" href="https://www.linkedin.com/in/joy-almeida0/" target="_blank"> Joy Almeida</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<script type="text/javascript">
    // go to room 
    const goToRoom = () => {
        let id = document.getElementById('room_id').value;
        url = '/'+id;
        window.location.href = url;
    }
    // go to room 
</script>
</body>
</html>